@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Fredoka One', cursive;
}

body{
    background: url('./images/wallpaper.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#content {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}


/* NAV */
nav {
    height: 5rem;
    width: 100vw;
    font-size: 2em;
    color: #6ee1ef;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    text-shadow: 2px 2px 2px #d80065;
    position:sticky;
    top: 0; 
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.navSel:hover {
    border-color: #6ee1ef;
    box-shadow: 2px 2px 1px #d80065;
    cursor: pointer;
}

.navSel {
    list-style: none;
    font-size: 2em;
    text-transform: uppercase;
    margin: .5em 1em;
    padding: .3em;
    border-bottom: 1px solid transparent;
    border-right: 1px solid transparent;
}


.navIcon {
    margin: 2em;
    transition: all 0.5s cubic-bezier(.68,-0.55,.27,1.55);
    cursor: pointer;
}

.navIcon:hover {
    transform: rotate(360deg);
}

.navName {
    font-size: 1.25em;
    text-transform: uppercase;
    font-family: 'Press Start 2P', cursive;
    letter-spacing: 3px;
}

/* footer */
footer {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(0,0,0,.7);
    width: 100vw;
    padding: .2em 0;
}

footer a {
    padding-left: 1em;
}

/* Home & About */

main {
    display: flex;
    justify-content: center;
    width: 90vw;
    align-items: center;
    flex-direction: column;
    padding-bottom: 15vh;
}

main h2 {
    font-family: 'Fredoka One', cursive;
    font-size: 2em;
    color: #6ee1ef;
    text-transform: uppercase;
    text-shadow: 3px 3px 2px #d80065, 3px 3px 3px #59055b;
    margin: .5em 1em;
}

.h2Two {
    font-size: 4em;
    font-family: 'Press Start 2P', cursive;;
}

.icon {
    height: 256px;
    width: 256px;
    padding-left: 1rem;
}

